<!-- Header -->
<header class="header">
  <div class="container">
    <img src="images/header/logo.svg" alt="Letter C logo." />
  </div>
</header>

<main class="layout">
  <!-- Left Section -->
  <section class="left-column">
    <!-- Content -->
    <article class="content">
      <div class="main-text">
        <h1>Comnica Signature</h1>
        <p class="display-1">Digitális aláíró szolgáltatás a Comnicától</p>
      </div>
      <img
        class="bg-laptop"
        src="images/background/bg.png"
        alt="Illustration of a laptop computer."
      />
    </article>
  </section>

  <!-- Right Section -->
  <section class="right-column">
    <!-- Content -->
    <article class="content">
      <h2>
        <span>Üdvözlöm a</span>
        <span>Comnica Signature-ben!</span>
      </h2>
      <p>
        A következőkben végigvezetjük dokumentumai elfogadásán és aláírásán. A
        folyamat több percet is igénybe vehet, ezért kérjük, csak akkor kezdje
        el, ha készen áll rá.
      </p>
      <button app-button (click)="onClick()">Kezdhetjük</button>
    </article>
  </section>
</main>
